

html{
  background-color: #ffffff;
}

h1
{
  color: black;
  text-align: center;
  font-style: oblique;
  border-bottom: solid;
}

p
{
  color: #001c30;
  font-style: oblique;
}

h4
{
  color:#9a9ca0;
  font-style:oblique;

}
